Backend/node_modules 
Backend/.env
Backend/package-lock.json


Fontend/admin/node_modules
Fontend/admin//.pnp
Fontend/admin/.pnp.js
Fontend/admin/coverage
Fontend/admin/build
Fontend/admin/.DS_Store
Fontend/admin/.env.local
Fontend/admin/.env.development.local
Fontend/admin/.env.test.local
Fontend/admin/.env.production.local
Fontend/admin/npm-debug.log*
Fontend/admin/yarn-debug.log*
Fontend/admin/yarn-error.log*


Fontend/client/node_modules
Fontend/client/.pnp
Fontend/client/.pnp.js
Fontend/client/coverage
Fontend/client/build
Fontend/client/.DS_Store
Fontend/client/.env.local
Fontend/client/.env.development.local
Fontend/client/.env.test.local
Fontend/client/.env.production.local
Fontend/client/npm-debug.log*
Fontend/client/yarn-debug.log*
Fontend/client/yarn-error.log*
Fontend/client/env


file